.locationList {
    height: 85vh;
    overflow: auto;
    margin-bottom: 20px;
}

@media (max-width: 48em) {
    .locationList {
        max-height: 45vh;
        margin-bottom: 20px;
    }
}

.forecast_title {
    color: white;
    padding: 20px;
    text-align: center;
}
